@using Microsoft.AspNetCore.Hosting

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <p>IStringLocalizer<Class1>: @ViewData["LocalizedMessage"]</p>
    <p>Culture: @ViewData["LocalizedMessage2"]</p>
    <p>ResourceManager: @ViewData["LocalizedMessage3"]</p>
    <p>IStringLocalizer<LocalClass>: @ViewData["LocalizedMessage4"]</p>
</body>
</html>